<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icloud.modules.small.dao.SmallCartMapper">


    <!-- 基础map -->
    <resultMap type="com.icloud.modules.small.entity.SmallCart" id="BaseResultMap">
     <id property="id" column="id"/>
     <result property="skuId" column="sku_id"/>
     <result property="userId" column="user_id"/>
     <result property="num" column="num"/>
     <result property="createTime" column="create_time"/>
     <result property="modifyTime" column="modify_time"/>
    </resultMap>

   <!-- 基础字段列 -->
   <sql id="Base_Column_List" >
id,sku_id,user_id,num,create_time,modify_time
    </sql>


<select id="queryMixList" resultMap="BaseResultMap">
select * from t_small_cart t
<where>
<if test="id != null">
    and t.id = #{id}
</if>
<if test="sku_id != null">
    and t.sku_id = #{sku_id}
</if>
<if test="user_id != null">
    and t.user_id = #{user_id}
</if>
<if test="num != null">
    and t.num = #{num}
</if>
<if test="create_time != null">
    and t.create_time = #{create_time}
</if>
</where>
</select>

    <select id="getCartVoList" resultType="com.icloud.modules.small.vo.CartVo">
        select * from t_small_cart t,t_small_spu p
        <where>
            t.sku_id = p.id
            <if test="sku_id != null">
                and t.sku_id = #{sku_id}
            </if>
            <if test="user_id != null">
                and t.user_id = #{user_id}
            </if>
            <if test="supplier_id != null">
                and p.supplier_id = #{supplier_id}
            </if>
        </where>
    </select>

</mapper>