<!DOCTYPE html>
<html>
<head>
    <title>零售户</title>
		<#include "/header.html">
    <script src="${request.contextPath}/statics/libs/ajaxupload.js"></script>
</head>
<body>
<div id="icloudapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("small:smallretail:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("small:smallretail:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("small:smallretail:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
					<div class="form-group">
                        <div class="col-sm-2 control-label">零售户名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="smallRetail.supplierName" placeholder="零售户名称"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">店铺图标</div>
                        <img   :src="smallRetail.headImg" style="width:300px;height:150px;" v-model="smallRetail.headImg" placeholder="店铺图标"/>
                        <div class="col-sm-10">
                            <a class="btn btn-primary" id="upload" style="margin-left:11rem;"><i class="fa fa-plus"></i>&nbsp;上传文件</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">收款二维码</div>
                        <img   :src="smallRetail.payImg" style="width:300px;height:150px;" v-model="smallRetail.payImg" placeholder="收款二维码"/>
                        <div class="col-sm-10">
                            <a class="btn btn-primary" id="upload2" style="margin-left:11rem;"><i class="fa fa-plus"></i>&nbsp;上传文件</a>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">店铺地址</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="smallRetail.address" placeholder="店铺地址"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">许可证号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="smallRetail.licence" placeholder="许可证号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">电话号码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="smallRetail.phone" placeholder="电话号码"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">店主openid</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="smallRetail.keeperOpenid" placeholder="店主openid"/>
                        </div>
                    </div>
<!--											                    <div class="form-group">
                        <div class="col-sm-2 control-label">余额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="smallRetail.balance" placeholder="余额"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">冻结余额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="smallRetail.frozenBalance" placeholder="冻结余额"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">银行卡</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="smallRetail.bankCart" placeholder="银行卡"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">开户行</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="smallRetail.bankName" placeholder="开户行"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">银行关联手机</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="smallRetail.bankPhone" placeholder="银行关联手机"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">开户人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="smallRetail.bankKeeper" placeholder="开户人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">许可证图片</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="smallRetail.licenceImg" placeholder="许可证图片"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">店铺头像</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="smallRetail.headImg" placeholder="店铺头像"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">boss</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="smallRetail.boss" placeholder="boss"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">password</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="smallRetail.password" placeholder="password"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">max_cash</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="smallRetail.maxCash" placeholder="max_cash"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">支付用户openid</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="smallRetail.payOpenid" placeholder="支付用户openid"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="smallRetail.createTime" placeholder="创建时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">修改时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="smallRetail.modifyTime" placeholder="修改时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">经度</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="smallRetail.lnt" placeholder="经度"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">纬度</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="smallRetail.lat" placeholder="纬度"/>
                        </div>
                    </div>-->
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/small/smallretail.js?_${.now?long}"></script>
</body>
</html>