<!DOCTYPE html>
<html>
<head>
    <title>店铺 </title>
		<#include "/header.html">
</head>
<body>
<div id="icloudapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("shop:shop:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("shop:shop:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("shop:shop:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">上级店铺ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.parentId" placeholder="上级店铺ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">编码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.shopCode" placeholder="编码"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.shopName" placeholder="名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">系统店铺标志</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.sysFlag" placeholder="系统店铺标志"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">级别</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.shopLevel" placeholder="级别"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">电话</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.shopTel" placeholder="电话"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">图片</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.shopImg" placeholder="图片"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">简介</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.description" placeholder="简介"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">余额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.balance" placeholder="余额"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">店铺地址</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.untitled4" placeholder="店铺地址"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">省</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.province" placeholder="省"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">市</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.city" placeholder="市"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">县</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.county" placeholder="县"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">详细地址</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.address" placeholder="详细地址"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">经度</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.lnt" placeholder="经度"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">纬度</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.lat" placeholder="纬度"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">覆盖范围(米)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.coverScope" placeholder="覆盖范围(米)"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">状态 0：关闭，1：开启</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.status" placeholder="状态 0：关闭，1：开启"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">审核 0：未审核，1：审核通过，2：审核失败</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.review" placeholder="审核 0：未审核，1：审核通过，2：审核失败"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.createdBy" placeholder="创建人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.createdTime" placeholder="创建时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">更新人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.updatedBy" placeholder="更新人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">更新时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shop.updatedTime" placeholder="更新时间"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/shop/shop.js?_${.now?long}"></script>
</body>
</html>